* {
	background-color: #f7f7f7;
	font-family: "Comic Sans MS", cursive, sans-serif;
}

h1 {
	font-size: 50px;
	color: red;
}

h2 {
	font-size: 42px;
	color: blue;
}

p, li {
	font-size: 24px;
}

ul li {
	color: blue;
}

ol li {
	color: red;
}

h1, h2 {
	color: green;
}

#mainHeader {
	/* add content here */
}

.resumeSubheader {
	/* add context here */
}